/.jiri
#TODO(nlacasse): Get rid of .v23 below once v23->jiri transition is complete.
/.v23

# Don't commit the bundled flutter app or snapshot.
croupier.flx
snapshot_blob.bin

# Don’t commit the following directories created by pub.
.buildlog
.pub/
build/
packages
.packages

*~
go/bin
go/pkg
go/src/golang.org

/bin
/creds
/tmp

# Or the files created by dart2js.
*.dart.js
*.js_
*.js.deps
*.js.map

# Don't commit the generated shortcut commands file.
shortcut_commands
